#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg); /* 3 full rotations */
  }
}

.spinning {
  animation: spin 2s ease-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 50%;
  transform: rotate(-90deg);
}
